@import 'tailwindcss';

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  background: transparent;
}